<div class="footer-section">
    <div class="container">
        <section class="footerInformation">
            <article class="footerInformations">
                <h3>Information</h3>
                <p>
                    <a href="{% url 'aboutpage_list' %}">About Us</a>
                    </li>
                </p>
                <p>
                    <a href="{% url 'staffpage' %}">Our Staff</a>
                </p>
                <p>
                    <a href="{% url 'contact' %}">Contact US</a>
                </p>

            </article>

            <article class="footerInformations">
                <h3>Resources</h3>
                <p>
                    <a href="{% url 'aboutpage_list' %}">Vision</a>
                </p>
                <p>
                    <a href="{% url 'aboutpage_list' %}">Mission</a>
                </p>
                <p>
                    <a href="{% url 'aboutpage_list' %}">Our Values</a>
                </p>
            </article>

            <article class="footerInformations">
                <h3>Social Media</h3>
                <p>
                    <a href="https://www.facebook.com/james.nyeko.7"><i class="fab fa-facebook"></i>Follow us on
                        Facebook</a>
                </p>
                <p>
                    <a href="https://twitter.com/@NyekoAtomic">
                        <i class="fab fa-twitter"></i> Follow us on Twitter
                    </a>
                </p>
                <p>
                    <a href="https://www.youtube.com/@nyekoatomicjames6763"> <i class="fab fa-youtube"></i> Follow us on
                        YouTube</a>
                </p>

            </article>
        </section>
        <p>&copy; 2024 Br & Fr Technologies.</p>
    </div>

</div>
<!--<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 text-center text-md-left">
                <p>&copy; 2024 Your Company Name</p>
            </div>
            <div class="col-md-6 col-sm-12 text-center text-md-right">
                <ul class="social-icons">
                    <li><a href="#" class="social-icon"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#" class="social-icon"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="social-icon"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer> -->