<!-- templates/home.html-->
{% extends "_base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class=".container">
    {% for homepage in homepage_list %}
    <div>
        <h1>{{homepage.title}}</h1>
        <div>

            {% if user.is_authenticated %}
            <p>Hi {{ user.email }}! Your most welcome.</p>
            {% else %}
            <p>You are not logged in</p>
            <a href="{% url 'account_login' %}">Log In</a>
            {% endif %}
        </div>
        <section>
            <h2>{{homepage.subtitle}}</h2>
            <p>{{homepage.body}}</p>
        </section>
        <section>
            <p> <b>Discipleship:</b>{{homepage.discipleship}}</p>
            <p><b>Development:</b>{{homepage.development}}</p>
            <p><b>Philosophy:</b>{{homepage.philosophy}}</p>
        </section>
    </div>
    {% endfor %}
</div>


{% endblock content %}